anthropic
ipywidgets==8.1.5
langchain
langchain-community
langchain-elasticsearch
langchain-huggingface
langchain-text-splitters
notebook==7.2.2
pandas
scikit-learn
sentence-transformers
elasticsearch==8.15.1
tqdm
python-dotenv
psycopg2-binary==2.9.9